extends ../shared/base-template.jade

block header
  .header
    | I am in home header

block body
  .body
    | I am in home body #{pageName}
    for player, index in dbCallData
      | #{player.name}

block footer
  .footer
    | I am in home footer