extends ../shared/base-template.jade

block header
  .header
    | I am in home header

block body
  .body
    | I am in home body #{pageName}
    #main-app
block footer
  .footer
    | I am in home footer
block script
  script(src="public/bundle.js")